* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/global-bg.jpg);
  background-attachment: fixed; // фоновое изображение элемента неподвижным
  background-size: cover;
}

html {
  overflow: hidden;

  color: $color-light;

  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.5em;
}

a {
  text-decoration: none;

  color: $color-light;
}

.container {
  display: flex;

  max-width: xl;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}

h1 {
  margin: 0;

  font-size: 2rem;
  line-height: 1.5em;
}

h3 {
  margin: 0;
}
