.footer {
  max-width: $xl;
  margin: auto;

  @include lg-min {
    padding-top: 15px;
    padding-right: $gap;
    padding-bottom: $gap;
    padding-left: $gap;
  }
  @include lg {
    padding-top: 8px;
    padding-right: ($gap / 2);
    padding-bottom: 31px;
    padding-left: ($gap / 2);
  }
  @include md {
    padding-bottom: 30.5px;
  }
  &-first {
    display: flex;
    flex-wrap: wrap;

    margin-right: (-7.5px);
    margin-bottom: (-7.5px);
    margin-left: (-7.5px);
    &__title {
      margin-bottom: 17px;

      @include block-header;
    }
    &__wrapper {
      padding: 7.5px;

      @include md-min {
        flex: 0 0 25%;
      }
      @include md-xs {
        flex: 0 0 50%;
      }
      @include xs {
        flex: 0 0 100%;
      }
    }
    &__block {
      p {
        margin: 0;

        color: $color-gray;

        line-height: 2em;
      }
    }
  }
  &-second {
    margin-top: 15px;
    &__widgets {
      padding: 15px;

      border-radius: 7px;
      background-color: rgba($color-dark, 0.5);
    }
    &__title {
      margin-bottom: 14px;

      @include block-header;
    }
    &__block {
      display: flex;
      justify-content: center;
    }
    &__wrapper {
      min-width: 300px;

      text-align: center;
      p {
        margin: 0;

        color: $color-gray;

        line-height: 2em;
      }
    }
  }
}
