.widgets-search {
  margin-bottom: 15px;
  &-form {
    position: relative;

    margin-bottom: 2px;
  }
  &-categories {
    margin-bottom: 15px;
    padding: 15px 15px;

    border-radius: 7px;
    background-color: rgba($color-dark, 0.5);
  }
  &-description {
    padding: 15px 15px;

    border-radius: 7px;
    background-color: rgba($color-dark, 0.5);
  }
  &--input {
    width: 100%;
    padding: 7px 0 7px 40px;

    color: $color-light;
    border: 1px solid rgba($color-light, 0.15);
    border-radius: 4px;
    background-color: rgba($color-light, 0.1);

    font-size: 0.85rem;
    &::placeholder {
      color: $color-gray;
    }
    &:focus {
      outline: none;
      background-color: rgba($color-light, 0.2);
    }
  }
  &--btn {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;

    padding: 4px 7px 6px 7px;

    cursor: pointer;
    // background-color: rgba($color-light, 0.1);

    color: $color-light;
    border: none;
    border-right: 1px solid rgba($color-light, 0.15);
    background: transparent;
  }
}
