.widgets {
  padding: 20px 15px 15px;

  border-radius: 7px;
  background-color: rgba($color-dark, 0.5);
  &__title {
    margin-bottom: 16px;
    padding-bottom: 10px;

    letter-spacing: 1.5px;

    border-bottom: 1px solid rgba($color-dark, 0.4);

    font-family: $font-header;
    font-weight: 300;
  }
  &-item {
    h3 {
      margin-bottom: 18px;
    }
    &__title {
      margin: 15px 0 10px 0;

      letter-spacing: 0.07em;

      font-weight: 300;

      @include text-shortener;
    }
    &__image {
      overflow: hidden;

      min-width: 75px;
      max-height: 75px;
      margin-right: 10px;

      border-radius: 4px;
      img {
        max-width: 75px;
        max-height: 75px;
      }
    }
    &__block {
      display: flex;
      p {
        margin: 0;

        color: $color-gray;

        @include block-with-text;
      }
    }
  }
}
