.widgets {
  padding: 20px 15px;

  border-radius: 7px;
  background-color: rgba($color-dark, 0.5);
  &__title {
    margin-bottom: 17px;
    padding-bottom: 10px;

    letter-spacing: 1.5px;

    border-bottom: 1px solid rgba($color-dark, 0.4);

    font-family: $font-header;
    font-weight: 300;
  }
}
