.left {
  flex: 0 0 #{$left-sidebar-width};
  order: 1;

  height: 100vh;
  &__title {
    padding-bottom: 10px;

    letter-spacing: 1.5px;

    border-bottom: 1px solid rgba($color-dark, 0.4);

    font-family: $font-header;
    font-weight: 300;
  }
  &-search {
    margin-bottom: 15px;
    padding: 20px 15px;

    border-radius: 7px;
    background-color: rgba($color-dark, 0.5);
    &-form {
      margin-top: 10px;
    }
  }
  &-categories {
    margin-bottom: 15px;
    padding: 15px 15px;

    border-radius: 7px;
    background-color: rgba($color-dark, 0.5);
  }
  &-description {
    padding: 15px 15px;

    border-radius: 7px;
    background-color: rgba($color-dark, 0.5);
  }
}
