.left {
  @include md-min {
    flex: 0 0 #{$left-sidebar-width};
    order: 1;
  }
  @include md-xs {
    flex: 0 0 50%;
    order: 2;

    padding-right: 7.5px;
  }
  @include xs {
    flex: 0 0 100%;
    order: 2;

    padding-right: 0;
  }
}
