.main-content {
  &__body {
    display: flex;
    /* перенос */
    flex-wrap: wrap;
  }
  // $transit: calc(-100% + 27px);
  &-item {
    // position: relative;
    /* ширина 1 блока */
    flex: 0 0 33.3333%;

    padding: 7px;
    &:hover {
      .main-content-item__text {
        transform: translateY(-82%);

        background-color: rgba($color-dark, 0.7);
      }
      .main-content-item__title {
        color: $color-accent;
        background-color: rgba($color-dark, 0.7);
      }
    }
    &__wrapper {
      position: relative;

      overflow: hidden;

      border: 6px solid $color-mustard;
      border-radius: 6px;
    }
    &__image {
      display: block;

      max-width: 100%;
      height: auto;
    }
    &__title {
      position: absolute;
      top: 0;

      max-width: 100%;
      margin: 0;
      padding: 7px;

      letter-spacing: 0.08em;

      background-color: rgba($color-dark, 0.5);

      font-size: 1rem;
      font-weight: 300;
      line-height: 1em;

      @include text-shortener;
      @include text-shadow;
    }
    &__text {
      position: absolute;

      min-height: 100%;
      margin: 0;
      padding: 20px 30px 0;

      transition: transform 0.4s;
      text-align: center;

      @include block-with-text;
    }
  }
}
