.main {
  /* Ширина main контента */
  flex: 0 0 calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});
  /* Положение в контейнере */
  order: 2;

  max-width: $xl;
  // margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}
