.main-content {
  &__body {
    display: flex;
  }
  &__title {
    margin-bottom: 22px;
    padding: 8px 12px;

    letter-spacing: 3px;

    border-radius: 6px;
    background: linear-gradient(90deg, rgba($color-dark, 0.8) 0, rgba($color-dark, 0.5) 90%, rgba($color-dark, 0) 100%);

    font-family: $font-header;
    font-weight: 300;
  }
}
