.main {
  max-width: $xl;

  @include lg-min {
    /* Ширина main контента */
    flex: 0 0 calc(100% - #{$left-sidebar-width} - #{$right-sidebar-width});
    /* Положение в контейнере */
    order: 2;

    padding-right: $gap;
    padding-left: $gap;
  }
  @include lg-md {
    flex: 0 0 calc(100% - #{$left-sidebar-width});
  }
  @include md {
    flex: 0 0 100%;
    order: 1;

    margin-bottom: 23px;
  }
}
