.header {
  &-logo {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 45px;
    padding-bottom: 47px;

    background-color: rgba($color-dark, 0.5);
    &__img {
      max-width: 400px;
      margin-bottom: 26px;
    }
    &__title {
      margin-bottom: 17px;

      text-align: center;
    }
    &__span {
      letter-spacing: 0.2em;

      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}
