.header-menu {
  background-color: rgba($color-dark, 0.7);
  &__list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 5px;

    list-style: none;
  }
  &__item {
    margin-right: 15px;
    margin-left: 15px;
  }
}
