.header {
  &-container {
    max-width: $xl;
    margin: auto;

    @include lg-min {
      padding-right: $gap;
      padding-left: $gap;
    }
    @include lg {
      padding-right: ($gap / 2);
      padding-left: ($gap / 2);
    }
  }
}
